/* SWITCH STYLES */

.switch {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

input[type='checkbox'].switch {
  position: relative;
  width: 29px;
  height: 13px;
  -webkit-appearance: none;
  outline: none;
  background: #c6c6c6;
  border-radius: 20px;
  transition: .1s;
  cursor: pointer;
  /* box-shadow: inset 0 0 5px rgba(0,0,0,.2); */
}

input[type='checkbox'].switch:checked {
  border: none;
}

input[type='checkbox'].switch:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  top: -2px;
  left: 0;
  background: #90A9B6;
  transition: .2s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

input[type='checkbox'].switch:checked:before {
  left: 14px;
}

/* CHECKBOX STYLES */
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox']:not(.switch) {
    -webkit-appearance: none;
    -moz-appearance: none;

    --active: #CAD6DD;
    --active-inner: #2F323A;
    --focus: 2px rgba(39, 94, 254, .25);
    --border: #2F323A;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;

    --focus: 2px rgba(39, 94, 254, .25);
    height: 16px;
    width: 16px;
    border-radius: 3px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
  }

  input[type='checkbox']:not(.switch)::after {
    --active-color: #fff;
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-color);
    border-top: 0;
    border-left: 0;
    left: 3px;
    top: -1px;
    transform: rotate(var(--r, 45deg));
  }

  input[type='checkbox']:not(.switch):checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  input[type='checkbox']:not(.switch):checked::after {
    --active-color: #2F323A;
  }
}

/* BUTTON & SELECT STYLES */

.button_input, 
select {
  /* max-width: 150px; */
  font-family: inherit;
  font-size: inherit;

  height: 24px;

  padding: 1px 7px;
  
  background: #E0E7EB;
  
  border: 0;
  border-radius: 7px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #2F323A;

  cursor: pointer;
}

.button_input {
  transition: background-color 0.6s, transform 0.1s;
}

.button_input:hover {
  background: #cdd9df;
}

.button_input:active {
  /* transform: translateY(1px); */
  transform: scale(96%);
}

.plus_minus {
 background-color: transparent;
 display: inline-flex;

 align-items: center;

 font-weight: 400;

}

.plus_minus:hover {
  background: #E0E7EB;
}

/* TEXT STYLES */
input[type="text"] {
  max-width: 160px;
  height: 24px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;

  padding: 1px 7px;

  background: #E0E7EB;

  border: 0;
  border-radius: 7px;

  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #2F323A;
}

/* TEXT_RANGE STYLES */
.text_range_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  row-gap: 5px;

}


input[type="text"].text_range {
  max-width: 48px;
  margin-left: 10px;
}

.text_range_container > span {
  margin-left: 10px;
  font-weight: 300;
}

/* TEXT_BUTTONS STYLES */
.text_buttons_container {
  display: flex;
  align-items: center;
}

.text_buttons_container > input[type="text"] {
  max-width: 60px;
  margin: 0 5px;
}

/* TEXT_LARGE STYLES */
.text_large_container {
  width: 164px;
}

.text_large_not_expanded {
  margin-right: 10px;
  width: 113px;
}

.text_large_expanded_wrap {
  position: absolute;
  background-color: #F7F7F7;
  width: auto;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  margin: 11px 0 0 11px;

  /* margin-top: 20px; */
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.3s ease;
}

input[type="text"].text_large_expanded {
  margin: 10px;
  min-width: 350px;
}

/* TEXT_SPLIT STYLES */
.text_large_expanded_wrap > input[type="text"].split {
  min-width: 335px;
}


/* SELECT STYLES */
select {
  height: 26px;

  -webkit-appearance: none;

  background-image: url('./select_arrow.svg');
  background-position: 92% center;
  background-repeat: no-repeat;
  background-size: 17px;

  -moz-appearance: none;

  text-indent: 0.01px;
  text-overflow: '';
  padding-right: 9%;
  appearance: none !important;
}

select::-ms-expand {
	display: none;
}

.double_select_item {
  margin-left: 10px;
  width: 80px;
}

/* DOUBLE_SELECT_STYLES */
.double_select {
  justify-content: space-between;
  max-width: 170px;
}

/* SLIDER STYLES */
.slider_container {
  width: 164px;
}

.slider_container>span {
  margin: 0 10px;
  /* font-weight: 300; */
}

.slider {
  width: 51.2%;
}

/*webkit*/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 1em;
  background: #90A9B6;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(8px * 0.5 - 17px * 0.5);
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  border: none;
  border-radius: 0.4em;
  background: #C4C4C4;
  box-shadow: none;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #9CB9C8;
}

input[type=range]:hover::-webkit-slider-runnable-track {
  background: #e5e5e5;
}

input[type=range]:active::-webkit-slider-runnable-track {
  background: #ECECEC;
}

/*mozilla*/
input[type=range]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 1em;
  background: #90A9B6;
  border: none;
  box-shadow: 0 0 2px black;
}

input[type=range]::-moz-range-track {
  height: 8px;
  border: none;
  border-radius: 0.4em;
  background: #C4C4C4;
  box-shadow: none;
}

input[type=range]::-moz-range-thumb:hover {
  background: #9CB9C8;
}

input[type=range]:hover::-moz-range-track {
  background: #e5e5e5;
}

input[type=range]:active::-moz-range-track {
  background: #ECECEC;
}
