/* SWITCH STYLES */

.switch {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.switch_container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  justify-content: space-between;
  flex-direction: row;
}

.switch_state_display {
  display: inline-block;
  padding: 0.1em 0.2em;
  border-radius: 5px;
  font-weight: 300;
  font-size: 0.9em;
}

.switch_state_display.turned_on {
  background-color: #c5deab;
}

.switch_state_display.turned_off {
  background-color: #fca59c;
}

input[type='checkbox'].switch {
  position: relative;
  width: 29px;
  height: 13px;
  -webkit-appearance: none;
  outline: none;
  background: #c6c6c6;
  border-radius: 20px;
  transition: .1s;
  cursor: pointer;
  /* box-shadow: inset 0 0 5px rgba(0,0,0,.2); */
}

input[type='checkbox'].switch:checked {
  border: none;
}

input[type='checkbox'].switch:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  top: -2px;
  left: 0;
  background: #ededed;
  transition: .2s;
  transform: scale(1.1);
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

input[type='checkbox'].switch:checked:before {
  background: #90A9B6;
  left: 14px;
}

/* CHECKBOX STYLES */
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox']:not(.switch) {
    -webkit-appearance: none;
    -moz-appearance: none;

    --active: #CAD6DD;
    --active-inner: #2F323A;
    --focus: 2px rgba(39, 94, 254, .25);
    --border: #2F323A;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #cdcfd6;
    --disabled-inner: #E1E6F9;

    --focus: 2px rgba(39, 94, 254, .25);
    height: 16px;
    width: 16px;
    border-radius: 3px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
  }

  input[type='checkbox']:not(.switch)::after {
    --active-color: #fff;
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-color);
    border-top: 0;
    border-left: 0;
    left: 4px;
    top: 0px;
    transform: rotate(var(--r, 45deg));
  }

  input[type='checkbox']:not(.switch):checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  input[type='checkbox']:not(.switch):checked::after {
    --active-color: #2F323A;
  }

  input[type='checkbox'].disabled_input:not(.switch) {
    --bc: var(--disabled);
    cursor: not-allowed;
  }
  
  input[type='checkbox'].disabled_input:not(.switch)::after {
    cursor: not-allowed;
  }
  
  input[type='checkbox'].disabled_input:not(.switch):checked {
    --b: var(--disabled);
    --bc: var(--disabled);
    cursor: not-allowed;
  }
  
  input[type='checkbox'].disabled_input:not(.switch):checked::after {
    --active-color: #7e8495;
    cursor: not-allowed;
  }
}

.checkbox_wrap {
  display: flex;
  column-gap: 5px;
}



/* BUTTON & SELECT STYLES */

.button_input, 
select {
  /* max-width: 150px; */
  font-family: inherit;
  font-size: inherit;

  min-height: 24px;

  padding: 1px 7px;
  
  background: #E0E7EB;
  
  border: 0;
  border-radius: 7px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #2F323A;

  cursor: pointer;
}

.button_input,
.save_form_button,
input[type="text"],
select {
  transition: background-color 0.4s, transform 0.1s, color 0.4s;
}

.button_input svg {
  pointer-events: none;
}

.button_input:hover,
.save_form_button:hover {
  background: #cdd9df;
}

.button_input:active,
.save_form_button:active {
  /* transform: translateY(1px); */
  transform: scale(96%);
}

.plus_minus {
 background-color: transparent;
 display: inline-flex;

 align-items: center;

 font-weight: 400;

}

.plus_minus:hover {
  background: #E0E7EB;
}

/* TEXT STYLES */
input[type="text"],
input[type="password"] {
  max-width: 160px;
  height: 24px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;

  padding: 2px 7px;

  background: #E0E7EB;

  border: 0;
  border-radius: 7px;

  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #2F323A;
}

input[type="text"]::placeholder {
  color: #868D9C;
}

input.transparent {
  background-color: transparent;
  border: none;
}

input[type="text"].calib_input {
  max-width: 105px;
}

/* TEXT_RANGE STYLES */
.text_range_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  row-gap: 5px;

}


input[type="text"].text_range {
  max-width: 48px;
  margin-left: 10px;
}

.text_range_container > span {
  margin-left: 10px;
  font-weight: 300;
}

/* TEXT_BUTTONS STYLES */
.text_buttons_container {
  display: flex;
  align-items: center;
}

.text_buttons_container > input[type="text"] {
  max-width: 60px;
  margin: 0 5px;
}

/* TEXT_LARGE STYLES */
.text_large_container {
  display: flex;
  column-gap: 7px;
}

.text_large_not_expanded {
  margin-right: 10px;
  width: 113px;
}

.text_large_expanded_wrap {
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  width: auto;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  margin: 11px 0 0 11px;

  /* margin-top: 20px; */
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.3s ease;
}

input[type="text"].text_large_expanded {
  margin: 10px;
  min-width: 350px;
}

/* TEXT_SPLIT STYLES */
.text_large_expanded_wrap > input[type="text"].split {
  min-width: 335px;
}


/* SELECT STYLES */
select {
  height: 26px;
  min-width: 60px;

  -webkit-appearance: none;

  background-image: url('./select_arrow.svg');
  background-position: 92% center;
  background-repeat: no-repeat;
  background-size: 17px;

  -moz-appearance: none;

  text-indent: 0.01px;
  text-overflow: '';
  padding-right: 33px;
  appearance: none !important;
}

select::-ms-expand {
	display: none;
}

.double_select_item {
  margin-left: 10px;
  width: 80px;
}

/* DOUBLE_SELECT_STYLES */
.double_select {
  justify-content: space-between;
  max-width: 170px;
}

/* DISABLED STYLE */

input.disabled_input,
button.disabled_input,
select.disabled_input,
input[type="checkbox"].switch.disabled_input {
  background: #d9d9d9;
  cursor: not-allowed;
  color: #868D9C
}

input[type="checkbox"].switch.disabled_input:before {
  background: #c3c3c3;
}

input[type='checkbox'].switch.disabled_input:checked:before {
  background: #C1CFD7;
}

.button_input.disabled_input {
  color: #868D9C
}

.button_input:hover.disabled_input {
  background: #d9d9d9;

}

.button_input:active.disabled_input {
  /* transform: translateY(1px); */
  transform: none;
}

/* SLIDER STYLES */
.slider_container {
  display: flex;
  align-items: center;
  /* width: 164px; */
}

.range_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #c6c6c6;
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #90A9B6;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
}

.range_slider::-webkit-slider-thumb:hover {
  background: #7b8f9b;
}

.range_slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #90A9B6;
  cursor: pointer;
}

.range_slider::-moz-range-thumb:hover {
  background: #7b8f9b;
}

.slider_container>span {
  margin: 0 10px;
  width: 36px;
  font-weight: 300;
}

.button_input.download_link {
  outline: none;
  text-decoration: none;
}