ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_linksList li {
  display: block;

  height: 62px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;

  border-top: solid 1px #4E5360;
  /* border-bottom: solid 1px #4E5360; */
}

.nav_linksList li:hover {
  background: #3c4253;
  box-shadow: 0px 0px 1px rgba(241, 245, 242, 0.15);
  cursor: pointer;
}

.active {
  background: #43485b;
  box-shadow: 0px 0px 1px rgba(241, 245, 242, 0.15);
}

.nav_linksList li div {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #90A9B6;
}

.nav_linksList svg {
  margin-left: .2em;
}

.nav_linksList .backIcon_wrap {
  min-width: 45px;
}

.nav_linksList .frontIcon_wrap {
  margin-left: auto;
  margin-right: 18px;
}

.nav_linksList .refresh_section_button {
  background-color: transparent;
  display: inline-flex;

  align-items: center;

  opacity: 0;
  transition: opacity 0.2s;
}

.nav_linksList .refresh_section_button:disabled {
  opacity: 0;
  pointer-events: none;
  cursor: auto;
}

.nav_linksList .refresh_section_button svg {
  margin-left: 0;
  transition: filter 0.4s;
}

.nav_linksList li.active .refresh_section_button {
  opacity: 1;
}

.nav_linksList .refresh_section_button:hover {
  background-color: transparent;
}

.nav_linksList .refresh_section_button:hover svg {
  filter: brightness(150%);
}

.backIcon_wrap svg {
  display: block;
  margin-left: auto;
  margin-right: auto
}



@keyframes in_animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes out_animation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}