ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_linksList li {
  display: block;

  height: 62px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;

  padding-left: 45px;

  border-top: solid 1px #4E5360;
  /* border-bottom: solid 1px #4E5360; */
}

.nav_linksList li.nested_item {
  background: #1C1D22;
  border-top: none;
  height: 44px;
  padding-left: 60px;
}

.nav_linksList li:hover {
  background: #3c4253;
  box-shadow: 0px 0px 1px rgba(241, 245, 242, 0.15);
  cursor: pointer;
}

.nav_linksList li.nested_item:hover {
  background: #1C1D22;
  box-shadow: none;
}

.active {
  background: #43485b;
  box-shadow: 0px 0px 1px rgba(241, 245, 242, 0.15);
}

li.nested_item.active {
  box-shadow: none
}

.nav_linksList li div.nav_linkLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #90A9B6;
}

.nav_linksList li.nested_item div.nav_linkLabel {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #90A9B6;
}

.nav_linksList li.nested_item div.nav_linkLabel:hover,
.nav_linksList li.nested_item.active div.nav_linkLabel {
  color: #CED9DF;
  font-weight: 600;
}

.nav_linksList .backIcon_wrap {
  min-width: 45px;
}

.nav_linksList li.nested_item .backIcon_wrap {
  min-width: 60px;
}

.backIcon_wrap svg {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.front_icon {
  transition: transform .2s ease-in-out;
}

.expanded .front_icon {
  transform: rotate(90deg);
}

/* MINIMIZED STYLES */
.nav_content_wrap.minimized .nav_linksList li {
  padding: 0px;
  justify-content: center;
  align-items: center;
}

@keyframes in_animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes out_animation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}