section {
  width: 100%;
  height: auto;

  max-width: 1564px;
  margin: 0 auto;
}

section:not(:last-child) {
  margin-bottom: 35px;
}

.section_header {
  width: 100%;
  height: 34px;

  margin-bottom: 33px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section_header h2,
.section_header .status_time_span {
  color: #2B2927;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-transform: uppercase;
}

.section_content {
  display: grid;
  --columns: 1;
  
  grid-template-columns: repeat(var(--columns),1fr);
  gap: 35px;
  position: relative;
}

.section_content .content_unavailiable {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  border-radius: 11px;
}

@media (min-width: 1162px) {
  .section_content {
    --columns: 2
  }
}

@media (min-width: 1645px) {
  .section_content {
    --columns: 3
  }
}
