.avr_device_switch {
  display: flex;
  /* flex-direction: column; */
  column-gap: 10px;
  row-gap: 15px;
  align-items:center;
  /* justify-items: flex-start; */
  justify-content: flex-start;
  margin: 33px 0;
}

.control_switch_wrap {
    display: flex;
    /* flex-direction: column; */
    column-gap: 10px;
    align-items: center;
    /* justify-items: flex-start; */
    justify-content: flex-start;
}

.avr_device_item_wrap {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.avr_control_mode {
  box-sizing: content-box;
  background: #F7F7F7;
  /* background: transparent; */
  border: 2px solid #c4c4c4;
  font-variant: small-caps;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  padding: 11px 14px;
  column-gap: 8px;
  margin: 2px;
  font-size: 32px;
}

.avr_control_mode:hover {
  /* background-color: transparent; */
  background: #F7F7F7;
  margin: 2px;
  border: 2px solid #626879;
}

.avr_control_mode.active_type {
  background: #abe188;
  /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2); */
  /* box-shadow: none; */
  font-weight: 500;
  margin: 0;
  border: 2px solid #626879;
  /* border: none; */
}

.control_mode_label {
  font-variant: small-caps;
  color: #2B2927;
  font-size: 36px;
  font-weight: 500;
}