/* SYS_LOG MODAL STYLES */
.sys_log_modal {
  width: 825px;
}

.sys_log_modal .log_list {
  overflow: hidden;
}

.sys_log_links .active_link {
  background: #E0E7EB;
}

.sys_log_buttons {
  justify-content: space-between;
}

.sys_log_buttons {
  display: flex;
  column-gap: 11px;
}

/* HEX UPLOAD MODAL STYLES */
.hex_upload_modal {
  width: 464px;
}
.hex_upload_modal .hex_upload_zone {
  margin-top: 20px;
  height: 312px;
  background: #E0E7EB;
  border-radius: 12px;
}
