.graphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  width: 100%;
  height: auto;
}

.graphs > svg { 
  width: 100%;
  height: auto;
}

.graph_container {
  min-width: 175px;
  width: 17.7%;
  max-width: 264px;
  height: 177px;

  background: #F7F7F7;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.graph_header {
  height: 34px;
  margin: 0 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

h4 {
  display: inline-block;
  margin: 0 0 4px 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;

  font-variant: small-caps;

  color: #626879;
}

.graph_pwr_display {
  margin: 0 10px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #C4C4C4;
}

.pwr_out_display > span {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.pwr_indicator_in, .pwr_indicator_out {
  display: inline-block;
  width: 9px;
  height: 9px;

  border-radius: 5px;

  background: #6D8EA0;
}

.pwr_indicator_in {
  margin-right: 7px;
}

.pwr_indicator_out {
  margin-left: 7px;
}

.graph_main_params {
  margin: 9px 23px;
}

.graph_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 17px;
  margin: 6px 0;
}

.graph_item > span {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.graphs>svg g[id$="button"] {
  pointer-events: auto;
}

.graphs>svg g[id$="button"]:hover {
  cursor: pointer;
  border: 3px solid black;
}

.graphs>svg g[id$="button"]:hover rect:not([id$="click_area"]) {
  stroke: black;
  fill: #cdd9df;
}

.graphs>svg g[id$="button"].disabled_svg_button {
  pointer-events: none;
}

.graphs>svg g[id$="button"].disabled_svg_button rect[id$="click_area"] {
  fill: #e0e7ebc7;
}

.graphs>svg g[id$="button"].disabled_svg_button:hover rect:not([id$="click_area"]) {
  stroke: none;
  fill: #e0e7eb;
}

/* FOR AVR */

.graphs>svg g[id$="button"].active_ex_conf {
  cursor: pointer;
  /* border: 3px solid black; */
}

.graphs>svg g[id$="button"].active_ex_conf rect:not([id$="click_area"]) {
  /* stroke: black; */
  fill: #cdd9df;
}
