.status_settings_wrap {
  display: grid;
  --columns: 1;

  grid-template-columns: repeat(var(--columns), 1fr);
  margin-top: 35px;
  gap: 35px;
}



@media (min-width: 1162px) {
  .status_settings_wrap.guest_wrap {
    grid-template-areas:
      'logs logs logs';
  }

  .status_settings_wrap {
    --columns: 3;

    grid-template-areas: 
      'logs logs logs';
  }
  
  .status_settings {
    grid-area: settings;
  }
  
  .logs {
    grid-area: logs;
  }
}
