.App {
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.main_wrap {
  flex-grow: 1;
}

main {
  padding: 35px;
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 90px);

  background: #edf2ef;
}

header {
  position: sticky;
  top: 0px;
  height: 89px;
  background: #bbcacf;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

@media (max-width: 1120px) {
  /* header {
    left: 200px;
  }

  main {
    left: 200px;
  } */
}

header h1 {
  margin-left: 37px;
  color: #2F323A;

  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  text-transform: uppercase;
}

header .log_button {
  margin-right: 37px;
}

nav {
  position: sticky;
  top: 0px;
  height: 100vh;
  z-index: 1;
  display: flex;
  max-width: 345px;
}

nav .nav_content_wrap {
  /* min-width: 200px; */
  width: 17.9vw;
  max-width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: #2F323A;
  /* transition: width 0.1s ease-in-out; */
}

.nav_header {
  height: 89px;
  padding: 0 6.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav_header .site_logo_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;

  margin-top: 12px;
}

.site_logo_link .app_logo {
  margin-bottom: 8px;
  width: 37px;
  height: auto;
  transition: width 0.1s ease-in-out;
}

.site_logo_link .app_label {
  font-family: 'URW Bookman';
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  color: #FFFFFF;

  text-align: center;
  letter-spacing: 0.02em;
  line-height: 37px;
}

nav .nav_actions_wrap {
  padding: 10px 23px 10px 45px;
  border-top: solid 1px #4E5360;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav_content_wrap.minimized .nav_actions_wrap {
  padding: 10px 15px 10px 20px;
}

.nav_actions_wrap .nav_action_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90A9B6;
  color: #4E5360;
  height: 20px;
  padding: 1px 6px;
  border: 0;
  border-radius: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}

.nav_action_button.active {
  background-color: #545b69;
  color: #90A9B6;
}

.nav_action_button.minimize {
  background-color: transparent;
  padding: 0px;
  width: 14px;
}

nav .nav_content_wrap.minimized .nav_action_button.minimize {
  transform: rotate(180deg);
}

/* nav .link_list_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
} */

.nav_header .version_info_span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #FFFFFF;
}

nav .nav_content_wrap.minimized {
  min-width: 0px;
  width: 89px;
}

.nav_content_wrap.minimized .site_logo_link {
  justify-content: center;
}

.nav_content_wrap.minimized .app_logo {
  width: 48px;
}


.sections_group_wrap {
  width: 100%;
}