.nav_fillblock {  
  flex-grow: 1;
}

 .peripheral_container {
  position: relative;

  width: 79%;
  height: auto;

  background-color: #444955;

  border-radius: 20px;

  margin: 10.4%;
}


.peripheral_time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* gap: 4px 8.2%; */
  margin: 14px 22px 0;
}

.time_label, .time_value {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  
  color: #FFFFFF;
}

.time_value {
  font-weight: 600;
}


.linear_indicator_wrapper {
  width: auto;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  align-items: stretch;
}


.peripheral_option_label {
  color: #FFFFFF;
  min-width: 96px;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
}

.linear_progress_percent {

  color: #FFFFFF;
  font-weight: 600;
  font-size: 15px;

}

.extra_linear_wrap {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.linear_bar {
  /* width: 55px; */
  border-radius: 4px;
  flex-grow: 1;
  background-color: #626879;
}

.linear_progress {
  width: 1%;
  height: 8px;
  border-radius: 4px;
  background-color: #7ADC47;

  transition: all 1s ease-in-out;
}

.linear_indicator_percentage {
  color: #FAFFFF;

  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
}

.linear_indicatiors {
  /* margin: 8px 18px; */
  /* display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  row-gap: 15px;
  */
  
  margin: 12px 22px 25px; 

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media (max-width: 1745px) {
  .linear_indicatiors {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
    justify-items: stretch;
  }

  .linear_indicator_wrapper {
    width: 100%;
    align-items: stretch;
  }
}